/*
Errno::ENOENT: No such file or directory - scss/theme.scss

Backtrace:
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:339:in `read'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `each'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:235:in `watch'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/plugin.rb:107:in `method_missing'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/exec.rb:445:in `watch_or_update'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/exec.rb:307:in `process_result'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/exec.rb:41:in `parse'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/lib/sass/exec.rb:21:in `parse!'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.2.7/bin/sass:9:in `<top (required)>'
c:/Ruby200/bin/sass:23:in `load'
c:/Ruby200/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - scss/theme.scss"; }
